---
layout: none
list_sponsors: true
---
<!DOCTYPE html>
<html>

<head>
  {% capture title %}{% if page.title %}{{ page.title | strip }} – {% endif %}Gleam{% endcapture %}
  {% capture description %}{% if page.description %}{{ page.description | strip }}{% else %}The Gleam programming
  language{% endif %}{% endcapture %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="/images/lucy-circle.svg">
  {% feed_meta %}
  <meta name="description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/images/lucy-circle-2.svg">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <script async defer data-domain="gleam.run" src="https://plausible.io/js/plausible.js"></script>
  <link rel="stylesheet" href="/new.css">
</head>

<body>
  <div class="home-header">

    <nav class="navbar">
      <div class="content">
        <div>
          <a class="logo" href="/">
            <img src="/images/lucy-charcoal-2.svg" alt="Lucy the star, Gleam's mascot">
            Gleam
          </a>
        </div>
        <div>
          <a href="/news">News</a>
          <a href="/community">Community</a>
          <a href="/sponsor">Sponsor</a>
        </div>
        <div>
          <a href="/docs">Documentation</a>
          <a href="/github">Github</a>
        </div>
      </div>
    </nav>

    <div class="hero">
      <div class="content">
        <img class="logo wide-only" src="/images/lucy-charcoal-2.svg" alt="Lucy the star, Gleam's mascot">
        <div class="text">
          <div>
            <b>Gleam</b> is a <b>friendly</b> language for building
            <b>type-safe</b> systems that <b>scale</b>! <span data-show-pride>✨</span>
          </div>
          <a class="button" href="/getting-started">Getting Started</a>
        </div>
      </div>
      <img class="home-waves" src="/images/waves.svg" alt="a soft wavey boundary between two sections of the website">
    </div>

  </div>

  <main role="main">
    <section class="content home-pair intro">
      <div>
        <p>
          The power of a type system, the expressiveness of functional
          programming, and the reliability of the highly concurrent, fault
          tolerant Erlang runtime, with a familiar and modern syntax.
        </p>
      </div>
      <pre><code><span class="code-keyword">import</span> <span class="code-module">gleam/io</span>

<span class="code-keyword">pub fn</span> <span class="code-fn">main</span>() {
  <span class="code-module">io.</span><span class="code-fn">println</span>(<span class="code-string">"hello, friend!"</span>)
}</code></pre>
    </section>

    <section class="home-top-sponsors">
      <div class="content">
        <h2>Kindly supported by</h2>
        <a class="sponsor-fly" href="https://fly.io" rel="noopener" target="_blank">
          <img src="/images/sponsors/fly.svg" alt="Fly">
        </a>
        <a class="sponsor-alembic" href="https://alembic.com.au" rel="noopener" target="_blank">
          <img src="/images/sponsors/alembic.svg" alt="Alembic">
        </a>
    </section>

    <section class="content home-pair">
      <div>
        <h2>Reliable and scalable</h2>
        <p>
          Running on the battle-tested Erlang virtual machine that powers planet
          scale systems such as WhatsApp and Ericsson, Gleam is ready for workloads
          of any size.
        </p>
        <p>
          Thanks to a multi-core actor based concurrency system that can run
          millions of concurrent tasks, fast immutable data structures, and a
          concurrent garbage collector that never stops the world, your service can
          scale and stay lightning fast with ease.
        </p>
      </div>
      <pre><code><span class="code-keyword">fn</span> <span class="code-fn">spawn_task</span>(i) {
  <span class="code-module">task.</span><span class="code-fn">async</span>(<span class="code-keyword">fn</span>() {
    <span class="code-keyword">let</span> n = <span class="code-module">int.</span><span class="code-fn">to_string</span>(i)
    <span class="code-module">io.</span><span class="code-fn">println</span>(<span class="code-string">"Hello from "</span> <span class="code-operator">&lt;&gt;</span> n)
  })
}

<span class="code-keyword">pub fn</span> <span class="code-fn">main</span>() {
  <span class="code-comment">// Run a million threads, no problem</span>
  <span class="code-module">list.</span><span class="code-fn">range</span>(<span class="code-number">0</span>, <span class="code-number">1_000_000</span>)
  <span class="code-operator">|></span> <span class="code-module">list.</span><span class="code-fn">map</span>(<span class="code-fn">spawn_task</span>)
  <span class="code-operator">|></span> <span class="code-module">list.</span><span class="code-fn">each</span>(<span class="code-module">task.</span><span class="code-fn">await_forever</span>)
}
</code></pre>
    </section>

    <section class="content home-pair">
      <div>
        <h2>Ready when you are</h2>
        <p>
          Gleam comes with compiler, build tool, formatter, editor integrations,
          and package manager all built in, so creating a Gleam project is just
          running <code>gleam new</code>.
        </p>
        <p>
          As part of the wider BEAM ecosystem, Gleam programs can use thousands
          of published packages, whether they are written in Gleam, Erlang, or
          Elixir.
        </p>
      </div>
      <pre><code><span class="code-prompt">➜ (main)</span> gleam add gleam_json
<span class="code-operator">  Resolving</span> versions
<span class="code-operator">Downloading</span> packages
<span class="code-operator"> Downloaded</span> 2 packages in 0.01s
<span class="code-operator">      Added</span> gleam_json v0.5.0
<span class="code-prompt">➜ (main)</span> gleam test
<span class="code-operator"> Compiling</span> thoas
<span class="code-operator"> Compiling</span> gleam_json
<span class="code-operator"> Compiling</span> app
<span class="code-operator">  Compiled</span> in 1.67s
<span class="code-operator">   Running</span> app_test.main
<span class="code-success">.
1 tests, 0 failures</span>
</code></pre>
    </section>

    <section class="content home-pair">
      <div>
        <h2>Here to help</h2>
        <p>
          No null values, no exceptions, clear error messages, and a practical
          type system. Whether you're writing new code or maintaining old code,
          Gleam is designed to make your job as fun and stress-free as possible.
        </p>
      </div>
      <pre><code><span class="code-error">error:</span> Unknown record field

  ┌─ ./src/app.gleam:8:16
  │
8 │ user.alias
  │ <span class="code-error">^^^^^^^^^^ Did you mean `name`?</span>

The value being accessed has this type:
    User

It has these fields:
    .name
</code></pre>
    </section>

    <section class="content home-pair">
      <div>
        <h2>Multilingual</h2>
        <p>
          Gleam makes it easy to use code written in other BEAM languages such
          as Erlang and Elixir, so there's a rich ecosystem of thousands of open
          source libraries for Gleam users to make use of.
        </p>
        <p>
          Gleam can additionally compile to JavaScript, enabling you to use your
          code in the browser, or anywhere else JavaScript can run. It also
          generates TypeScript definitions, so you can interact with your Gleam
          code confidently, even from the outside.
        </p>
      </div>
      <pre><code><span class="code-keyword">external fn</span> <span class="code-fn">as_html</span>(
  markdown: <span class="code-type">String</span>,
  options: <span class="code-type">Dynamic</span>,
) -> <span class="code-type">EarmarkResult</span> =
  <span class="code-string">"Elixir.Earmark" "as_html"</span>


<span class="code-keyword">pub fn</span> <span class="code-fn">register_event_handler</span>() {
  <span class="code-keyword">try</span> el = <span class="code-module">document.</span><span class="code-fn">query_selector</span>(<span class="code-string">"a"</span>)
  <span class="code-module">element.</span><span class="code-fn">add_event_listener</span>(el, <span class="code-keyword">fn</span>() {
    <span class="code-module">io.</span><span class="code-fn">println</span>(<span class="code-string">"Clicked!"</span>)
  })
}</code></pre>
    </section>

    <section class="home-friendly">
      <!-- TODO: add triangles here -->
      <div class="content">
        <h2>Friendly 💜</h2>
        <p>
          As a community, we want to be friendly too. People from around the
          world, of all backgrounds, genders, and experience levels are welcome
          and respected equally. See our community code of conduct for more.
        </p>
        <p>
          Black lives matter. Trans rights are human rights. No nazi bullsh*t.
        </p>
      </div>
      <!-- TODO: add Lucy here -->
      <img class="home-waves" src="/images/waves.svg" alt="a soft wavey boundary between two sections of the website">
    </section>


    <section class="home-sponsors">
      <div class="content">
        <h2>Lovely people</h2>
        <p>
          If you enjoy Gleam consider
          <a href="https://github.com/sponsors/lpil">becoming a sponsor</a>
          (or tell your boss to)
        </p>
      </div>
      <div class="home-sponsors-list">
        <ul data-randomise-order>
          {% assign sponsors_count = site.data.sponsors | size %}
          {% assign sponsors = site.data.sponsors | sample: sponsors_count %}
          {% for sponsor in sponsors %}
          <li>
            <a href="{{ sponsor.url }}" rel="noopener" target="_blank">
              <img src="{{ sponsor.avatar }}"
                class="sponsor-tier-{{ sponsor.tier }} {% unless sponsor.square_avatar %} round{% endunless %}"
                alt="{{ sponsor.name }}">
            </a>
            {% endfor %}
        </ul>
        <a data-expand-sponsors></a>
      </div>
    </section>

    <section class="home-still-here">
      <div class="content">
        <h2>You're still here?</h2>
        <p class="go-read">
          Well, that&apos;s all this page has to say. Maybe you should go read the
          language introduction!
        </p>
        <a class="button" href="/getting-started">Let's go!</a>

        <hr>

        <h3>Wanna keep in touch?</h3>
        <p>
          Subscribe to the Gleam newsletter
        </p>
        <script async src="https://eocampaign1.com/form/ebfa5ade-6f63-11ed-8f94-ef3b2b6b307a.js"
          data-form="ebfa5ade-6f63-11ed-8f94-ef3b2b6b307a"></script>
        <p>
          We'll send you at most one newsletter a month, and we'll never share
          your email with anyone else.
        </p>
        <p class="recaptcha-blerb">
          This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </p>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="content">
      <div class="first">
        <a class="logo" href="/">
          <img src="/images/lucy-charcoal-2.svg" alt="Lucy the star, Gleam's mascot">
          Gleam
        </a>
      </div>
      <ul class="middle">
        <li><a href="/news">News</a>
        <li><a href="/documentation#cheatsheets">Cheat sheets</a>
        <li><a href="https://discord.gg/Fm8Pwmy">Discord</a>
        <li><a href="https://gleam.run/book/tour/">Language tour</a>
        <li><a href="https://github.com/gleam-lang">GitHub</a>
        <li><a href="/documentation">Documentation</a>
        <li><a href="https://github.com/sponsors/lpil">Sponsor</a>
        <li><a href="/writing-gleam/command-line-reference">CLI reference</a>
      </ul>
      <ul class="last">
        <li>&copy; {{ site.time | date: '%Y' }} Louis Pilfold
        <li><a href="https://github.com/gleam-lang/gleam/blob/main/CODE_OF_CONDUCT.md">Code of conduct</a>
          <!-- TODO: puppies -->
          <!-- <li><a href="">Pictures of pets</a> -->
      </ul>
    </div>
  </footer>
</body>

<script src="/new.js"></script>

</html>
