/* TODO: use local fonts */
/* TODO: use Cascadia Mono */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Outfit&family=Roboto+Mono&display=swap");

:root {
  --font-family-normal: "Outfit", sans-serif;
  --font-family-title: "Lexend", sans-serif;
  --font-family-monospace: "Roboto Mono", monospace;

  --color-charcoal: #2f2f2f;
  --color-white: #fefefc;
  --color-faff-pink: #ffaff3;
  --color-aged-plastic-yellow: #fffbe8;
  --color-unnamed-blue: #a6f0fc;

  --opacity-mid: 0.65;

  --width-content: 960px;

  --font-size-normal: 18px;
  --font-size-hero-button: 24px;
  --font-size-pair-text: 24px;
  --font-size-friendly-text: 24px;
  --font-size-logo: 28px;
  --font-size-hero: 36px;
  --font-size-pair-title: 36px;
  --font-size-friendly-title: 36px;

  --font-weight-normal: 400;
  --font-weight-title-bold: 700;

  --gap-1: 10px;
  --gap-2: calc(var(--gap-1) * 2);
  --gap-3: calc(var(--gap-1) * 3);
  --gap-4: calc(var(--gap-1) * 4);
  --gap-5: calc(var(--gap-1) * 5);
  --gap-6: calc(var(--gap-1) * 6);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-charcoal);
  color: var(--color-white);
  font-family: var(--font-family-normal);
  font-size: var(--font-size-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-normal);
}

.content {
  max-width: 100%;
  width: var(--width-content);
  margin: 0 auto;
  padding: var(--gap-2);
}

.navbar {
  font-family: var(--font-family-title);
  background-color: var(--color-faff-pink);
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  /* TODO: replace kanji with Lucy */
  font-size: var(--font-size-logo);
}

.navbar a {
  color: var(--color-charcoal);
  text-decoration: none;
  margin-left: var(--gap-2);
}

.hero {
  background-color: var(--color-faff-pink);
  padding-top: var(--gap-4);
  color: var(--color-charcoal);
}

.hero .content {
  display: flex;
  align-items: center;
  padding-bottom: var(--gap-6);
}

.hero .logo {
  /* TODO: replace kanji with Lucy */
  font-size: 8em;
  padding: var(--gap-1) var(--gap-6) var(--gap-3) var(--gap-6);
}

.hero .text {
  font-size: var(--font-size-hero);
  font-family: var(--font-family-title);
  padding: 0 var(--gap-6);
}

.hero .text b {
  font-weight: var(--font-weight-title-bold);
}

.hero a {
  font-size: var(--font-size-hero-button);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, var(--opacity-mid));
  padding: var(--gap-1) var(--gap-4);
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  margin-top: var(--gap-2);
}

.home-pair {
  padding-top: var(--gap-4);
  padding-bottom: var(--gap-4);
  font-size: var(--font-size-pair-text);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-4);
}

.home-pair:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.home-pair.intro {
  padding-top: 0;
}

.home-pair > * {
  max-width: 50%;
  flex: 1;
}

.home-pair h2 {
  font-size: var(--font-size-pair-title);
}

.home-pair pre {
  font-size: var(--font-size-normal);
}

.home-top-sponsors {
  padding: var(--gap-3) 0;
  color: var(--color-charcoal);
  background-color: var(--color-aged-plastic-yellow);
}

.home-top-sponsors .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-friendly {
  color: var(--color-charcoal);
  text-align: center;
  background: linear-gradient(0deg, var(--color-faff-pink) 0%, var(--color-white) 300%);
  padding-top: var(--gap-4);
  margin-bottom: -1px;
  font-size: var(--font-size-friendly-text);
}

.home-friendly h2 {
  font-size: var(--font-size-friendly-title);
}

.home-waves {
  /* Ensure that the waves do not leave a gap at the bottom of the container */
  position: relative;
  top: 2px;
  width: 100%;
}
