<!-- TODO: download these from the our domain -->
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elixir.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elm.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/diff.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/dockerfile.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/erlang.min.js"></script>
<script defer src="/javascript/highlightjs-gleam.js"></script>
