---
title: Gleam's Development Roadmap
subtitle: What's coming next?
layout: page
class: "roadmap"
---

<p>
  The highlights of what's been released, what's being worked on, and what's
  coming in future! To see all the details please see the
  <a href="https://github.com/gleam-lang/gleam/tree/main/CHANGELOG.md"
    >current changelogs</a
  >, the
  <a href="https://github.com/gleam-lang/gleam/tree/main/changelog"
    >historical changelogs</a
  >, and the
  <a href="https://github.com/gleam-lang/gleam/issues">issue tracker</a>
</p>

<h2>In progress</h2>

<p>
  Features that are currently being worked on, or complete but not yet released.
</p>

<ul class="roadmap-list">
  {% for item in site.data.roadmap.in-progress %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<h2>Planned</h2>

<p>Features that will be implemented, but work has not yet started.</p>

<ul class="roadmap-list">
  {% for item in site.data.roadmap.planned %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<h2>Research</h2>

<p>
  Features that likely will be added in future, but we have some outstanding
  design questions to resolve.
</p>

<ul class="roadmap-list">
  {% for item in site.data.roadmap.research %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>

<h2>Done</h2>

<ol class="roadmap-release-list">
  {% for release in site.data.roadmap.done %}
  <li>
    <h3>{{ release.version }} - {{ release.date | date: "%d %b, %Y" }}</h3>
    <ul class="roadmap-list">
      {% for item in release.items %}
      <li>{{ item | markdownify }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ol>
