---
layout: layout
---

<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elixir.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elm.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/dockerfile.min.js"></script>
<script defer src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/erlang.min.js"></script>
<script defer src="/javascript/highlightjs-gleam.js"></script>

{% capture header_content %}
<h1>{{ page.title }}</h1>
{% endcapture %}
{% include page-header.html content=header_content %}

<main class="page content">
  {{ content }}
</main>
