<!DOCTYPE html>
<html lang="en-gb">
  <head>
    {% capture title %}{% if page.title %}{{ page.title | strip }} – {% endif %}Gleam{% endcapture %}
    {% capture description %}{% if page.description %}{{ page.description | strip }}{% else %}The Gleam programming language{% endif %}{% endcapture %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap">
    <link rel="stylesheet" href="/styles/index.css?v=2">
    <link id="syntax-theme" rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.0.1/styles/atom-one-light.min.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elixir.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elm.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/erlang.min.js"></script>
    <script defer src="/javascript/highlightjs-gleam.js"></script>
    <link rel="shortcut icon" href="/images/lucy-charcoal-2.svg">
    {% feed_meta %}
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/images/lucy-charcoal-2.svg">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <script async defer data-domain="gleam.run" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <nav class="pagenav content">
      <a href="/">
        <h1 class="pagenav-title">Gleam</h1>
      </a>
      <span class="flex-spacer"></span>

      <a class="pagenav-link" href="/news">News</a>
      <a class="pagenav-link" href="/community">Community</a>
      <a class="pagenav-link" href="/documentation">Docs</a>
      <a class="pagenav-link" href="https://github.com/gleam-lang">Code</a>
      <a class="pagenav-link sponsor-nav-link" href="https://github.com/sponsors/lpil?o=esb" target="_blank" rel="noopener">
        Sponsor
        <img src="/images/sponsor-heart.svg" alt="Heart icon" width="18">
      </a>
    </nav>

{{ content }}

    <aside class="sponsors-section">
      <div class="content">
        <h4>Gleam's sponsors!</h4>

        <p>
          If you enjoy Gleam consider <b><a
          href="https://github.com/sponsors/lpil">becoming a sponsor</a></b> or
          ask your employer to become a sponsor.
        </p>

        <ul class="top-sponsors">
          <li>
            <a href="https://fly.io" rel="noopener" target="_blank">
              <img class="sponsor-fly" src="/images/sponsors/fly.svg" alt="Fly">
            </a>
          <li>
            <a href="https://alembic.com.au" rel="noopener" target="_blank">
              <img class="sponsor-alembic white-bg" src="/images/sponsors/alembic.svg" alt="Alembic">
            </a>
        </ul>

        <ul class="sponsors-avatars sponsors-tier-3">
  {% assign sponsors = site.data.sponsors | sort: "name" | reverse %}
  {% for sponsor in sponsors %}
  {% if sponsor.tier == 3 %}
          <li>
            <a href="{{ sponsor.url }}" rel="noopener" target="_blank">
              <img src="{{ sponsor.avatar }}" class="sponsor-tier-{{ sponsor.tier }} {% unless sponsor.square_avatar %} round"{% endunless %} alt="{{ sponsor.name }}">
            </a>
  {% endif %}
  {% endfor %}
        </ul>

        <ul class="sponsors-avatars">
  {% assign sponsors = site.data.sponsors | sort: "tier" | reverse %}
  {% for sponsor in sponsors %}
  {% if sponsor.tier < 3 %}
          <li>
            <a href="{{ sponsor.url }}" rel="noopener" target="_blank">
              <img src="{{ sponsor.avatar }}" class="sponsor-tier-{{ sponsor.tier }} {% unless sponsor.square_avatar %} round"{% endunless %} alt="{{ sponsor.name }}">
            </a>
  {% endif %}
  {% endfor %}
        </ul>
      </div>
    </aside>

    <footer class="page-footer">
      © 2016 – {{ site.time | date: '%Y' }} Louis Pilfold
    </footer>
    <link rel="stylesheet" href="/styles/highlighting.css">
  </body>
</html>
