<!DOCTYPE html>
<html lang="en-gb">
  <head>
    {% capture title %}{% if page.title %}{{ page.title | strip }} – {% endif %}Gleam{% endcapture %}
    {% capture description %}{% if page.description %}{{ page.description | strip }}{% else %}The Gleam programming language{% endif %}{% endcapture %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"> 
    <link rel="stylesheet" href="/styles/index.css?v=2">
    <link id="syntax-theme" rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.0.1/styles/atom-one-light.min.css">
    <link crossorigin="anonymous" media="all" integrity="sha512-KgQrk5hLBb/TnCqv5/Aj1PnNDcNg1GJwAJmCcofWOvheVekdwdaZjLg5FxNyLJsLSZddZueFFCrFkGbxaBbe8g==" rel="stylesheet" href="https://github.githubassets.com/assets/sponsors-embed-2a042b93984b.css">
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elixir.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/elm.min.js"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.0.1/languages/erlang.min.js"></script>
    <script src="/javascript/highlightjs-gleam.js"></script>
    <link rel="shortcut icon" href="/images/lucy-charcoal-2.svg">
    {% feed_meta %}
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/images/lucy-charcoal-2.svg">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <script async defer data-domain="gleam.run" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <nav class="pagenav content">
      <a href="/">
        <h1 class="pagenav-title">Gleam</h1>
      </a>
      <span class="flex-spacer"></span>

      <a class="pagenav-link" href="/news">News</a>
      <a class="pagenav-link" href="/community">Community</a>
      <a class="pagenav-link" href="/documentation">Docs</a>
      <a class="pagenav-link" href="https://github.com/gleam-lang">Code</a>
      <div class="pagenav-link">
        <a class="btn btn-block" style="box-shadow: none;" aria-label="Sponsor @lpil" target="_top" href="https://github.com/sponsors/lpil?o=esb">
          <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-heart icon-sponsor color-fg-sponsors mr-2">
            <path fill-rule="evenodd" d="M4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.565 20.565 0 008 13.393a20.561 20.561 0 003.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.75.75 0 01-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5zM8 14.25l-.345.666-.002-.001-.006-.003-.018-.01a7.643 7.643 0 01-.31-.17 22.075 22.075 0 01-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.08 22.08 0 01-3.744 2.584l-.018.01-.006.003h-.002L8 14.25zm0 0l.345.666a.752.752 0 01-.69 0L8 14.25z"></path>
          </svg>
          <span>Sponsor</span>
        </a>
      </div>
    </nav>

{{ content }}

    <aside class="sponsors-section">
      <div class="content">
        <h4>Supporting Gleam</h4>
        Gleam is made possible by the kind support of its sponsors. If you
        enjoy Gleam please consider <b><a href="https://github.com/sponsors/lpil">sponsoring the project</a></b>
        or asking your employer to sponsor the project.

        <p>
          Thank you to our top sponsors!
        </p>

        <ul class="sponsors-tier-2">
  {% assign sponsors = site.data.sponsors.second_tier | sort: "name" %}
  {% for member in sponsors %}
          <li><a href="{{ member.url }}">
              <img src="{{ member.avatar }}" alt="{{ member.name }}">
            <center>
              {{ member.name }}
            </center>
            </a>
  {% endfor %}
        </ul>

        <ul class="sponsors-tier-1">
  {% assign sponsors = site.data.sponsors.first_tier | sort: "name" %}
  {% for member in sponsors %}
          <li><a href="{{ member.url }}">{{ member.name }}</a>
  {% endfor %}
        </ul>

        <p>
          See more of Gleam's sponsors <a href="https://github.com/gleam-lang/gleam/#sponsors">on the project README here</a>.
        </p>
      </div>
    </aside>

    <footer class="page-footer">
      © 2016 – {{ site.time | date: '%Y' }} Louis Pilfold
    </footer>
    <link rel="stylesheet" href="/styles/highlighting.css">
  </body>
</html>
