.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none
}

.btn:hover {
    text-decoration: none
}

.btn:disabled,
.btn.disabled,
.btn[aria-disabled=true] {
    cursor: default
}

.btn:disabled .octicon,
.btn.disabled .octicon,
.btn[aria-disabled=true] .octicon {
    color: inherit
}

.btn i {
    font-style: normal;
    font-weight: 500;
    opacity: .75
}

.btn .octicon {
    margin-right: 4px;
    color: #6a737d;
    vertical-align: text-bottom
}

.btn .octicon:only-child {
    margin-right: 0
}

.btn .Counter {
    margin-left: 2px;
    color: inherit;
    text-shadow: none;
    vertical-align: top;
    background-color: rgba(27, 31, 35, .08)
}

.btn .dropdown-caret {
    margin-left: 4px;
    opacity: .8
}

.btn {
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .04), inset 0 1px 0 rgba(255, 255, 255, .25);
    transition: background-color .2s cubic-bezier(0.3, 0, 0.5, 1)
}

.btn:hover,
.btn.hover,
[open]>.btn {
    background-color: #f3f4f6;
    transition-duration: .1s
}

.btn:active,
.btn.selected,
.btn[aria-selected=true] {
    background-color: #edeff2;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, .2);
    transition: none
}

.btn:disabled,
.btn.disabled,
.btn[aria-disabled=true] {
    color: #959da5;
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, .15)
}

.btn:focus,
.btn.focus {
    outline: 1px dotted transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .3)
}

.btn-primary {
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 rgba(255, 255, 255, .03)
}

.btn-primary:hover,
.btn-primary.hover,
[open]>.btn-primary {
    background-color: #2c974b
}

.btn-primary:active,
.btn-primary.selected,
.btn-primary[aria-selected=true] {
    background-color: #2a8f47;
    box-shadow: inset 0 1px 0 rgba(20, 70, 32, .2)
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary[aria-disabled=true] {
    color: rgba(255, 255, 255, .8);
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 rgba(255, 255, 255, .03)
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(46, 164, 79, .4)
}

.btn-primary .Counter {
    color: inherit;
    background-color: rgba(255, 255, 255, .2)
}

.btn-primary .octicon {
    color: rgba(255, 255, 255, .8)
}

.btn-danger {
    color: #cb2431;
    transition: none
}

.btn-danger:hover,
[open]>.btn-danger {
    color: #fff;
    background-color: #cb2431;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 rgba(255, 255, 255, .03)
}

.btn-danger:hover .Counter,
[open]>.btn-danger .Counter {
    background-color: rgba(255, 255, 255, .2)
}

.btn-danger:hover .octicon,
[open]>.btn-danger .octicon {
    color: inherit
}

.btn-danger:active,
.btn-danger.selected,
.btn-danger[aria-selected=true] {
    color: #fff;
    background-color: #be222e;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: inset 0 1px 0 rgba(134, 24, 29, .2)
}

.btn-danger:disabled,
.btn-danger.disabled,
.btn-danger[aria-disabled=true] {
    color: rgba(203, 36, 49, .5);
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .04), inset 0 1px 0 rgba(255, 255, 255, .25)
}

.btn-danger:disabled .Counter,
.btn-danger.disabled .Counter,
.btn-danger[aria-disabled=true] .Counter {
    background-color: rgba(203, 36, 49, .05)
}

.btn-danger:focus {
    box-shadow: 0 0 0 3px rgba(203, 36, 49, .4)
}

.btn-danger .Counter {
    color: inherit;
    background-color: rgba(203, 36, 49, .1)
}

.btn-outline {
    color: #0366d6;
    transition: none
}

.btn-outline:hover,
[open]>.btn-outline {
    color: #fff;
    background-color: #0366d6;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .1), inset 0 1px 0 rgba(255, 255, 255, .03)
}

.btn-outline:hover .Counter,
[open]>.btn-outline .Counter {
    background-color: rgba(255, 255, 255, .2)
}

.btn-outline:hover .octicon,
[open]>.btn-outline .octicon {
    color: inherit
}

.btn-outline:active,
.btn-outline.selected,
.btn-outline[aria-selected=true] {
    color: #fff;
    background-color: #035fc7;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: inset 0 1px 0 rgba(5, 38, 76, .2)
}

.btn-outline:disabled,
.btn-outline.disabled,
.btn-outline[aria-disabled=true] {
    color: rgba(3, 102, 214, .5);
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: 0 1px 0 rgba(27, 31, 35, .04), inset 0 1px 0 rgba(255, 255, 255, .25)
}

.btn-outline:disabled .Counter,
.btn-outline.disabled .Counter,
.btn-outline[aria-disabled=true] .Counter {
    background-color: rgba(3, 102, 214, .05)
}

.btn-outline:focus {
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .4)
}

.btn-outline .Counter {
    color: inherit;
    background-color: rgba(3, 102, 214, .1)
}

.btn-blue {
    color: #fff;
    background-color: #0361cc;
    background-image: linear-gradient(-180deg, #0679fc 0%, #0361cc 90%)
}

.btn-blue:focus,
.btn-blue.focus {
    box-shadow: 0 0 0 .2em rgba(6, 121, 252, .4)
}

.btn-blue:hover,
.btn-blue.hover {
    background-color: #035cc2;
    background-image: linear-gradient(-180deg, #0374f4 0%, #035cc2 90%);
    background-position: -0.5em;
    border-color: rgba(27, 31, 35, .5)
}

.btn-blue:active,
.btn-blue.selected,
.btn-blue[aria-selected=true],
[open]>.btn-blue {
    background-color: #045cc1;
    background-image: none;
    border-color: rgba(27, 31, 35, .5);
    box-shadow: inset 0 .15em .3em rgba(27, 31, 35, .15)
}

.btn-blue:disabled,
.btn-blue.disabled,
.btn-blue[aria-disabled=true] {
    color: rgba(255, 255, 255, .75);
    background-color: #81b0e6;
    background-image: none;
    border-color: rgba(27, 31, 35, .15);
    box-shadow: none
}

.btn-blue .Counter {
    color: #0366d6;
    background-color: #fff
}

.btn-sm {
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px
}

.btn-sm .octicon {
    vertical-align: text-top
}

.btn-large {
    padding: .75em 1.5em;
    font-size: inherit;
    line-height: 1.5;
    border-radius: .5em
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center
}

.BtnGroup {
    display: inline-block;
    vertical-align: middle
}

.BtnGroup::before {
    display: table;
    content: ""
}

.BtnGroup::after {
    display: table;
    clear: both;
    content: ""
}

.BtnGroup+.BtnGroup,
.BtnGroup+.btn {
    margin-left: 4px
}

.BtnGroup-item {
    position: relative;
    float: left;
    border-right-width: 0;
    border-radius: 0
}

.BtnGroup-item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.BtnGroup-item:last-child {
    border-right-width: 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.BtnGroup-item.selected,
.BtnGroup-item[aria-selected=true],
.BtnGroup-item:focus,
.BtnGroup-item:active,
.BtnGroup-item:hover {
    border-right-width: 1px
}

.BtnGroup-item.selected+.BtnGroup-item,
.BtnGroup-item.selected+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-item[aria-selected=true]+.BtnGroup-item,
.BtnGroup-item[aria-selected=true]+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-item:focus+.BtnGroup-item,
.BtnGroup-item:focus+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-item:active+.BtnGroup-item,
.BtnGroup-item:active+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-item:hover+.BtnGroup-item,
.BtnGroup-item:hover+.BtnGroup-parent .BtnGroup-item {
    border-left-width: 0
}

.BtnGroup-parent {
    float: left
}

.BtnGroup-parent:first-child .BtnGroup-item {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.BtnGroup-parent:last-child .BtnGroup-item {
    border-right-width: 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.BtnGroup-parent .BtnGroup-item {
    border-right-width: 0;
    border-radius: 0
}

.BtnGroup-parent.selected .BtnGroup-item,
.BtnGroup-parent[aria-selected=true] .BtnGroup-item,
.BtnGroup-parent:focus .BtnGroup-item,
.BtnGroup-parent:active .BtnGroup-item,
.BtnGroup-parent:hover .BtnGroup-item {
    border-right-width: 1px
}

.BtnGroup-parent.selected+.BtnGroup-item,
.BtnGroup-parent.selected+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-parent[aria-selected=true]+.BtnGroup-item,
.BtnGroup-parent[aria-selected=true]+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-parent:focus+.BtnGroup-item,
.BtnGroup-parent:focus+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-parent:active+.BtnGroup-item,
.BtnGroup-parent:active+.BtnGroup-parent .BtnGroup-item,
.BtnGroup-parent:hover+.BtnGroup-item,
.BtnGroup-parent:hover+.BtnGroup-parent .BtnGroup-item {
    border-left-width: 0
}

.BtnGroup-item:focus,
.BtnGroup-item:active,
.BtnGroup-parent:focus,
.BtnGroup-parent:active {
    z-index: 1
}

.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #0366d6;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none
}

.btn-link:hover {
    text-decoration: underline
}

.btn-link:disabled,
.btn-link:disabled:hover,
.btn-link[aria-disabled=true],
.btn-link[aria-disabled=true]:hover {
    color: rgba(88, 96, 105, .5);
    cursor: default
}

.btn-invisible {
    color: #0366d6;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none
}

.btn-invisible:hover,
.btn-invisible:active,
.btn-invisible:focus,
.btn-invisible.selected,
.btn-invisible[aria-selected=true],
.btn-invisible.zeroclipboard-is-hover,
.btn-invisible.zeroclipboard-is-active {
    color: #0366d6;
    background: none;
    outline: none;
    box-shadow: none
}

.btn-octicon {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    line-height: 1;
    color: #586069;
    vertical-align: middle;
    background: transparent;
    border: 0
}

.btn-octicon:hover {
    color: #0366d6
}

.btn-octicon.disabled,
.btn-octicon[aria-disabled=true] {
    color: #959da5;
    cursor: default
}

.btn-octicon.disabled:hover,
.btn-octicon[aria-disabled=true]:hover {
    color: #959da5
}

.btn-octicon-danger:hover {
    color: #cb2431
}

.close-button {
    padding: 0;
    background: transparent;
    border: 0;
    outline: none
}

.hidden-text-expander {
    display: block
}

.hidden-text-expander.inline {
    position: relative;
    top: -1px;
    display: inline-block;
    margin-left: 5px;
    line-height: 0
}

.hidden-text-expander a,
.ellipsis-expander {
    display: inline-block;
    height: 12px;
    padding: 0 5px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 6px;
    color: #444d56;
    text-decoration: none;
    vertical-align: middle;
    background: #dfe2e5;
    border: 0;
    border-radius: 1px
}

.hidden-text-expander a:hover,
.ellipsis-expander:hover {
    text-decoration: none;
    background-color: #c6cbd1
}

.hidden-text-expander a:active,
.ellipsis-expander:active {
    color: #fff;
    background-color: #2188ff
}

.btn-with-count {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-with-count:focus {
    z-index: 1
}

.social-count {
    position: relative;
    float: left;
    padding: 3px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, .15);
    border-left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 0 rgba(27, 31, 35, .04), inset 0 1px 0 rgba(255, 255, 255, .25)
}

.social-count:hover,
.social-count:active {
    text-decoration: none
}

.social-count:hover {
    color: #0366d6;
    cursor: pointer
}

.social-count:focus {
    z-index: 1;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .3)
}

.icon-sponsor,
.icon-sponsoring {
    transition: transform .15s cubic-bezier(0.2, 0, 0.13, 2);
    transform: scale(1)
}

.btn:hover .icon-sponsor,
.btn:focus .icon-sponsor,
.Label:hover .icon-sponsor,
.Label:focus .icon-sponsor,
.btn:hover .icon-sponsoring,
.btn:focus .icon-sponsoring,
.Label:hover .icon-sponsoring,
.Label:focus .icon-sponsoring {
    transform: scale(1.1)
}

.icon-sponsor {
    overflow: visible !important
}

.text-pink {
    color: #ea4aaa !important
}

.h3 {
    font-size: 20px;
    font-weight: 600
}

.mr-2 {
    margin-right: 8px !important
}

.mr-3 {
    margin-right: 16px !important
}

@media(min-width: 544px) {
    .mr-sm-3 {
        margin-right: 16px !important
    }
}

.mb-2 {
    margin-bottom: 8px !important
}

.p-3 {
    padding: 16px !important
}

.rounded-1 {
    border-radius: 6px
}

.d-flex {
    display: flex
}

@media(min-width: 544px) {
    .d-sm-flex {
        display: flex
    }
}

.flex-auto {
    flex: auto
}

@media(min-width: 544px) {
    .flex-sm-auto {
        flex: auto
    }
}

.Box {
    background-color: var(--color-canvas-default);
    border: 1px solid var(--color-border-default);
    border-radius: 6px
}

.octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor
}
